body {
  text-align: center;
}

h1 {
  letter-spacing: 6px;
}

form {
  font-size: 25px;
  margin-bottom: 2%;
}

#ded {
  font-size: 80px;
}

.row {
  display: none;
  font-size: 30px;
}

.image-live{
  display: none;
  text-align: center;
}

.image-dead{
  display: none;
  text-align: center;
}

#ded-message {
  font-size: 70px;
}
